In [1]:
# Importing the important libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [9]:
# Importing the data
df = pd.read_csv("Crime_Data.csv")

In [15]:
df.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,5741943,HN549294,2007-08-25 09:22:00,074XX N ROGERS AVE,560,ASSAULT,SIMPLE,OTHER,False,False,...,49.0,1.0,08A,NaN,NaN,2007,8/17/2015 15:03,NaN,NaN,NaN
1,25953,JE240540,2021-05-24 15:06:00,020XX N LARAMIE AVE,110,HOMICIDE,FIRST DEGREE MURDER,STREET,True,False,...,36.0,19.0,01A,1141387.0,1913179.0,2021,11/18/2023 15:39,41.917838,-87.755969,"(41.917838056, -87.755968972)"
2,26038,JE279849,2021-06-26 09:24:00,062XX N MC CORMICK RD,110,HOMICIDE,FIRST DEGREE MURDER,PARKING LOT,True,False,...,50.0,13.0,01A,1152781.0,1941458.0,2021,11/18/2023 15:39,41.995219,-87.713355,"(41.995219444, -87.713354912)"
3,13279676,JG507211,2023-11-09 07:30:00,019XX W BYRON ST,620,BURGLARY,UNLAWFUL ENTRY,APARTMENT,False,False,...,47.0,5.0,5,1162518.0,1925906.0,2023,11/18/2023 15:39,41.952345,-87.677975,"(41.952345086, -87.677975059)"
4,13274752,JG501049,2023-11-12 07:59:00,086XX S COTTAGE GROVE AVE,454,BATTERY,"AGGRAVATED P.O. - HANDS, FISTS, FEET, NO / MIN...",SMALL RETAIL STORE,True,False,...,6.0,44.0,08B,1183071.0,1847869.0,2023,12/9/2023 15:41,41.737751,-87.604856,"(41.737750767, -87.604855911)"

In [29]:
# Checking whether their is any null value

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 549999 entries, 0 to 549998
Data columns (total 22 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   ID                    549999 non-null  int64
 1   Case Number           549999 non-null  object
 2   Date                  549999 non-null  datetime64[ns]
 3   Block                 549999 non-null  object
 4   IUCR                  549999 non-null  object
 5   Primary Type          549999 non-null  object
 6   Description           549999 non-null  object
 7   Location Description  549999 non-null  object
 8   Arrest                549999 non-null  bool
 9   Domestic              549999 non-null  bool
 10  Beat                  549999 non-null  int64
 11  District              549999 non-null  int64
 12  Ward                  213674 non-null  float64
 13  Community Area        215093 non-null  float64
 14  FBI Code              549999 non-null  object
 15  X Coordinate          543087 non-null  float64
 16  Y Coordinate          543087 non-null  float64
 17  Year                  549999 non-null  int64
 18  Updated On            549999 non-null  object
 19  Latitude              549999 non-null  float64
 20  Longitude             549999 non-null  float64
 21  Location              543087 non-null  object
dtypes: bool(2), datetime64[ns](1), float64(6), int64(4), object(9)
memory usage: 85.0+ MB

In [5]:
'''
Things to Handle
================
Date format need to be changed from Object to Date and time
Replace the NaN value with mean for latitude and logitude
Replate NaN in Location Description with OTHER
'''

(549999, 22)

In [27]:
df['Location Description'].nunique()

210

In [6]:
# Checking their is any duplicated rows
duplicatedRow = df[df.duplicated()]
duplicatedRow.head()

Empty DataFrame
Columns: [ID, Case Number, Date, Block, IUCR, Primary Type, Description, Location Description, Arrest, Domestic, Beat, District, Ward, Community Area, FBI Code, X Coordinate, Y Coordinate, Year, Updated On, Latitude, Longitude, Location]
Index: []

[0 rows x 22 columns]

In [13]:
# Converting Date to DateTime Format
df['Date'] = pd.to_datetime(df['Date'], infer_datetime_format=True, errors='coerce')

C:\Users\Ragupathy\AppData\Local\Temp\ipykernel_18848\635907845.py:2: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df['Date'] = pd.to_datetime(df['Date'], infer_datetime_format=True, errors='coerce')

In [ ]:
# Replacing the NaN data with Mean value

df['Latitude'] = df['Latitude'].fillna(df['Latitude'].mean())
df['Longitude'] = df['Longitude'].fillna(df['Longitude'].mean())

In [28]:
# Replacing the Nan Location Description to OTHER
df['Location Description'] = df['Location Description'].fillna('OTHER')

In [31]:
final_df = df[['ID', 'Date','Year', 'Primary Type', 'Description','District',
                 'Location Description', 'Arrest', 'Domestic', 'Latitude', 'Longitude']]

In [32]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 549999 entries, 0 to 549998
Data columns (total 11 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   ID                    549999 non-null  int64
 1   Date                  549999 non-null  datetime64[ns]
 2   Year                  549999 non-null  int64
 3   Primary Type          549999 non-null  object
 4   Description           549999 non-null  object
 5   District              549999 non-null  int64
 6   Location Description  549999 non-null  object
 7   Arrest                549999 non-null  bool
 8   Domestic              549999 non-null  bool
 9   Latitude              549999 non-null  float64
 10  Longitude             549999 non-null  float64
dtypes: bool(2), datetime64[ns](1), float64(2), int64(3), object(3)
memory usage: 38.8+ MB

In [33]:
# Saveing final DataFrame to CSV
final_df.to_csv('Preprocessed_Crime_Data.csv', index=False)